<div class="wrap">
  <div class="container">
    <div class="content">
      <header>
        <h3>GMAN PARK</h3>
      </header>
      <div class="box">
        <div class="hexagon"></div>
      </div>
      <div class="desc">
        <p>말은 쉽지, 나에게 코드를 보여줘.</p>
        <p>Talk is cheap. Show me the code.</p>
        <br>
        <i>- Torvalds, Linus (2000-08-25)</i>
        <br>
        <br>
        <a href="http://git.gman.io" class="ref_link">[ Repository ]</a>
      </div>
    </div>
  </div>
  <app-reactive></app-reactive>
</div>
