@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('/assets/font/spoqa/Spoqa Han Sans Bold.woff2') format('woff2'),
    url('/assets/font/spoqa/Spoqa Han Sans Bold.woff') format('woff'),
    url('/assets/font/spoqa/Spoqa Han Sans Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('/assets/font/spoqa/Spoqa Han Sans Regular.woff2') format('woff2'),
    url('/assets/font/spoqa/Spoqa Han Sans Regular.woff') format('woff'),
    url('/assets/font/spoqa/Spoqa Han Sans Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('/assets/font/spoqa/Spoqa Han Sans Light.woff2') format('woff2'),
    url('/assets/font/spoqa/Spoqa Han Sans Light.woff') format('woff'),
    url('/assets/font/spoqa/Spoqa Han Sans Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url('/assets/font/spoqa/Spoqa Han Sans Thin.woff2') format('woff2'),
    url('/assets/font/spoqa/Spoqa Han Sans Thin.woff') format('woff'),
    url('/assets/font/spoqa/Spoqa Han Sans Thin.ttf') format('truetype');
  }
  * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans KR', 'Sans-serif'; }
  html {height: 100%;font-size: 10px;font-family: Helvetica, sans-serif;line-height: 1.25em;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;-webkit-font-smoothing: antialiased}
  body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {margin: 0;padding: 0}
  body, button, input, select, table, textarea {font-family: Helvetica, sans-serif;font-size: 1.5rem;line-height: 1.25em}
  body {height: 100%;-webkit-text-size-adjust: none;word-wrap: break-word;word-break: keep-all}
  article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {display: block}
  audio, canvas, progress, video {display: inline-block}
  audio:not([controls]) {display: none;height: 0}
  progress {vertical-align: baseline}
  [hidden], template {display: none}
  a {background-color: transparent;-webkit-text-decoration-skip: objects}
  a, a:hover {text-decoration: none}
  a:active, a:hover {outline-width: 0}
  abbr[title] {border-bottom: none;text-decoration: underline;-webkit-text-decoration: underline dotted;text-decoration: underline dotted}
  b, strong {font-weight: inherit;font-weight: bolder}
  dfn {font-style: italic}
  mark {background-color: transparent;color: #000}
  small {font-size: 80%}
  sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline}
  sub {bottom: -.25em}
  sup {top: -.5em}
  svg:not(:root) {overflow: hidden}
  code, kbd, pre, samp {font-family: monospace, monospace;font-size: 1em}
  button, input, optgroup, select, textarea {font: inherit;margin: 0}
  optgroup {font-weight: 700}
  button, input {overflow: visible}
  button, select {text-transform: none}
  button {padding: 0;border: 0;background-color: transparent;-webkit-appearance: none}
  [type=reset], [type=submit], button, html [type=button] {cursor: pointer;-webkit-appearance: button}
  [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {border-style: none;border: 0;padding: 0}
  [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {outline: 1px dotted ButtonText}
  li, ol, ol li, ul, ul li {list-style: none}
  address, em, i {font-style: normal}
  table {border-collapse: collapse}
  textarea {overflow: auto}
  [type=checkbox], [type=radio] {-webkit-box-sizing: border-box;box-sizing: border-box;padding: 0}
  [type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {-webkit-appearance: none;height: auto}
  [type=search] {-webkit-appearance: textfield;outline-offset: -2px}
  [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {-webkit-appearance: none}
  ::-webkit-input-placeholder {color: inherit;opacity: .54}
  ::-webkit-file-upload-button {-webkit-appearance: button;font: inherit}
  hr {display: none}
  .g_skip {overflow: hidden;position: absolute;clip: rect(0 0 0 0);width: 1px;height: 1px;margin: -1px}
  .g_btn-skip {position: absolute;left: 0;top: -30px;width: 128px;background-color: #191919;border: 1px solid #ffa800;text-align: center;outline: none}
  .g_btn-skip:active, .g_btn-skip:focus {top: 2px;text-decoration: none;cursor: pointer;zoom: 1}
  .g_btn-skip__inner {display: inline-block;padding-top: 2px;font-size: 12px;letter-spacing: -1px;color: #fff;line-height: 26px}
  .webview * {outline: 0 !important;-webkit-tap-highlight-color: transparent}
  #wrap {display: table;table-layout: fixed;width: 100%;height: 100%;max-width: 360px;margin: 0 auto}
  .footer, .header {height: 1px}
  #content, .footer, .header {display: table-row;width: 100%}
  #content {height: 100%}
  